<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page - OIDC Sample App</title>
        <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="static/css/site.css" />
</head>
<body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">OIDC Sample Application</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                                <li><a href="/Logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container body-content">
                <br/>
        <br />
        <div>
    You have successfully logged into the OIDC sample application.
</div>
    </div>
        <script src="static/lib/jquery/dist/jquery.js"></script>
        <script src="static/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="static/js/site.js"></script>
</body>
</html>
